body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0px;
    padding:0px;
    
}

/*GRID-LAYOUT*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-template-rows: repeat(8,auto);
    
}
.sidebar{
    grid-row-start: 1;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 1;
    width:15vw;
}
header{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 8;
    
}
main{
    grid-row-start: 2;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 6;
}




/*###########*/

/*SIDEBAR*/
.sidebar > ul{
    list-style-type: none;
    padding: 0px;
}
.sidebar{
    background-color: #1992d4;
    color:white;
    font-size: 1.5vh;
   
    width: 20vw;/*
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;*/
    overflow-x: hidden;
    padding-top: 12px;
    
}
li>i{
    padding: 15px;
    margin-top:3px;
}
ul{
    display:grid;
    grid-template-columns: 12% 50%;
    grid-template-rows: 50%;
    font-size:1.2rem;
    font-weight:bold;
    height:25vh;
}
.dashboard{
    font-size:200%;
    height:20px
}
#dash-icon{
    margin-top:25px;
}
.divider{
    margin-bottom:25px;
}
.pushin-p{
    margin:15px;
}
.dashin-p{
    margin-left: 35px;
}
ul > li>p:hover{
    
    transform: scale(1.1,1.1);
    color: #e2e8f0;
    text-decoration: underline;
    cursor:pointer;
}
ul > li>p{
    transition:0.2s all;
}
/*HEADER*/
.profile-box > i:hover{
    transform: scale(1.15,1.15);
    color: rgba(0, 0, 0, 0.74);
}
.profile-box > i{
    transition:0.2s all;
}
header{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    transform: scale(1);


}

.search-bar{
    width: 90%;
    height:3.5vh;
    border-radius: 15px;
    border:none;
    background-color: #e2e8f0;
}
.header-top {
    display:flex;
    padding-top:1em;
    padding-left:2em;
    
}
.profile-box > img{
    width:15%;
    border-radius: 50%;
    padding-left:15px;
    padding-right: 15px;
}

.header-top  i{
    padding:10px;
    font-size: 1vw;
}
.search-box{
    width:60%;
    margin-top:12px;
}
.profile-box{
    display:flex;
    align-items:center;
    justify-content: flex-end;
    margin:auto;
    margin-top:0px;
    padding-top:0px;
    font-weight: bold;
}

.header-bottom{
    display:flex;
    padding-top:1em;
    padding-left:2em;
    
}
.hi-there{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 630;
}
.hi-there > img{
    width:17%;
    border-radius: 50%;
    margin-right: 5%;
}
.hi-there-top{
    text-align: left;
    font-size:1vw;
    padding:0px;
    margin:0px;
}
.hi-there-bottom{
    text-align: left;
    font-size: 1.4vw;
    margin:0px;
    padding:0px;
}
.hi-text-container{
    display:block;
}
.top-buttons-container{
    display:flex;
    width:50%;
    align-items:right;
    justify-content: flex-end;
    margin:auto;
    margin-right:2.5%;
    
    margin-top:35px;
    padding-top:0px;
    font-weight: bold;
}
.top-buttons-container > button    {
    padding: 10px;
    background-color: white;
    border : 1px solid #1992d4;
    border-radius: 25px;
    width:14%;
    color:#1992d4;
    margin: 12px;
    font-size:1vw;
    font-weight:630;
    transition: 0.3s all;
}
.top-buttons-container > button:hover{
    background-color: #1992d4;
    color: white;
    transform: scale(1.1,1.1);
    
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.top-buttons-container > button:active{
    background-color: #1992d4;
    transform: scale(1,1);
    transition: 0.1s all;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
/* MAIN */
main{
    display:grid;
    grid-template-columns: 70% 30%;
    grid-template-rows:  100% 30%;
    background-color: #e2e8f0;
    padding:15px;
    
    
}
.project{
    border-left: 8px solid #dfad0b;
    background-color: rgba(255, 255, 255, 0.900);
    padding: 5px;
    border-radius:5px;
    width: 15vw;
    height:35vh;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.11);
    margin:15px;
    transition: 0.2s ease-in-out;
}
.project:hover{
    transform: scale(1.05,1.05) ;
   

}
.projects-grid{
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    
}


.headers-container{
    display:grid;
    grid-template-columns: 72% 28%;
    grid-template-rows: auto ;
    padding: 20px;
    padding-top: 10px;
    margin-bottom:0px;
    padding-bottom:0px;
    font-weight: 550;
    font-size: 1.6rem;
    overflow: hidden;
}
.project-icons-container{/*
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin:0px;
    padding:0px;
    */ 
    display:grid;
    grid-template-columns: 30px 30px 40px;
    grid-template-rows: auto;
    
    
}
.project > p{
   
    font-size: 110%;
}
.project > h1{
    font-size: 140%;
}
.project-icons-container > i{
    font-size:130%;
    
}
.project-icons-container > i:hover{
    
    color:rgba(0, 0, 0, 0.377);
    transition:0.3s all;
    
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.announcements-box{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.900);
    padding :8px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.11);
}
#has-border{
    border-bottom:1px solid #e2e8f0;
}
.announcement{
    font-size:1em;
    padding-left:25px;
    padding-right:25px; 
}
.announcement-title{
    font-weight: 700;
    font-size:1em;
    padding:0px;
    margin:0px;
    padding-top:15px
}
.announce-text{
    margin:0px;
    padding:0px;
    padding-bottom:25px;
    
}
.trending-grid{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto auto auto;
    background-color: rgba(255, 255, 255, 0.900);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.11);
    margin:25px;
    width:80%;
    padding: 5px;
    border-radius:8px;
    height:30vh;
    border-radius: 8px;
}
.trend > img{
    width: 55px;
    border-radius: 48%;
    padding:5px;
}
.trend{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left:9px;
    padding-bottom:5px;
}
.trending-header{
   
    padding: 0px;
    margin:0px;
    margin-top: 15px;
    margin-right: 60%;
    margin-bottom: 0px;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600;
}
.trending-name{
    padding:0px;
    margin:0px;
    font-weight:600;
    padding-left:10px;
}
.trending-project{
    padding:0px;
    margin:0px;
    color: rgb(59, 59, 59);
    padding-left:10px;
}
